{:kotoba.app/id "cloud.itonami.isic-0892", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreieahzkfqzbsav45qx77dwbdqlxngtrdbzwmniopar2w54qphdq724", :kotoba.app/embed-url "ipfs://bafkreieahzkfqzbsav45qx77dwbdqlxngtrdbzwmniopar2w54qphdq724", :published {:archive "https://kotobase.net/ipfs/bafkreieahzkfqzbsav45qx77dwbdqlxngtrdbzwmniopar2w54qphdq724", :size 72176, :put-status 201, :get-status 200, :at "2026-08-15T14:04:23.256Z"}}
